{{ define "main" }}
<html>

<head>
    <title>Uh-oh!</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
</head>

<body>
    <h1 style="text-align: center; font-size: 2rem;">404</h1>
	<br>
    <p>Looks like an error occured. If someone linked you to this page, the url is probably invalid or expired.
	Try going back to the <a href="{{ "/" | relURL }}">Main Page</a> or take a close look at your url for misspellings or truncations.
    </p>
	<br>
	<br>
</body>

</html>
{{ end }}
